{% extends 'eventos/base.html' %}
{% block content %}
      <main class="px-3 d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
        <h1>Sistema de Controle de Eventos e Inscrições</h1>
        <p class="lead text-center">
            Plataforma para o controle de eventos e inscrições, oferecendo funcionalidades<br>
            de visualização, criação, edição e participação em eventos, além da administração de perfis de usuários.
        </p>
      </main>
{% endblock %}