{% extends 'eventos/base.html' %}
{% load widget_tweaks %}
{% block title %}Gerenciar Evento{% endblock %}
{% block content %}
<div class="container">
  <main>
    <div class="pt-5 pb-2 text-center">
      <h1 class="h2">Editar Senha</h1>
      <p class="lead">Abaixo você poderá editar sua senha</p>
    </div>
    <div class="form-signin d-flex justify-content-center">
      <form method="post" class="shadow p-4 bg-body rounded w-50 d-flex flex-column gap-3" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label class="form-label">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {{ field.errors }}
          </div>
        {% endfor %}
        <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-primary w-50 me-2" type="submit">Salvar</button>
          {% if is_participante %}
            <a href="{% url 'perfil-participante' %}" class="btn btn-secondary w-50 ms-2">Cancelar</a>
          {% elif is_organizador %}
            <a href="{% url 'perfil-organizador' %}" class="btn btn-secondary w-50 ms-2">Cancelar</a>
          {% endif %}
        </div>
      </form>
    </div>
  </main>
</div>
{% endblock %}