{% extends 'eventos/base.html' %}
{% load widget_tweaks %}
{% block title %}Gerenciar Evento{% endblock %}
{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
  <div class="container">
    <main>
      <div class="pt-5 text-center ">
        <h1 class="h2 mb-2">Senha editada com sucesso!</h1>
        <p class="lead mb-5">Clique no botão abaixo para voltar para a página de perfil</p>
        {% if is_participante %}
           <a href="{% url 'perfil-participante' %}" class="btn btn-secondary w-25 ms-2">Retornar</a>
        {% elif is_organizador %}
           <a href="{% url 'perfil-organizador' %}" class="btn btn-secondary w-25 ms-2">Retornar</a>
        {% endif %}
      </div>
    </main>
  </div>
</div>
{% endblock %}